body {
    margin: 0;
    overflow-x: hidden;
    color: #fff;
}

table {
    width: 100%;
}

td {
    font-weight: 700;
    vertical-align: middle;
	padding: 4px;
}

.bold-serif-text {
    font-family: "Playfair Display", serif;
    font-weight: 800;
}

.breakfast-background {
    background: url('../images/image722.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 100px 0px;
}

.main-dish-background {
    background: url('../images/image1097.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 100px 0px;
}

.curries-background {
    background: url('../images/image1482.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 100px 0px;
}

.drinks-page-1 {
    background: url('../images/drinks1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 100px 0px;
}

.drinks-page-2 {
    background: url('../images/drinks2.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 100px 0px;
}

.drinks-page-3 {
    background: url('../images/drinks3.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 100px 0px;
}

.cocktails-background {
    background: url('../images/drinks4.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 100vh;
    padding: 100px 0px;
}

.blue-background {
    background: rgb(19, 19, 92);
}

.navy-blue-background {
	background: rgba(5, 13, 52, 0.9);
}

.golden-border {
    border: rgb(219, 157, 77) 1px solid;
}

.dark-background {
    background: rgba(12, 12, 27, 0.5);
}

.brown-text {
    color: rgb(219, 157, 77);
}

.black-text {
    color: #000;
}

.white-text {
    color: #fff;
}

.light-text {
    font-weight: 200;
}

.small-text {
    font-size: small;
}

@media only screen and (max-width: 768px) {
    .breakfast-background {
        padding: 50px 0px;
    }

    .main-dish-background {
        padding: 50px 0px;
    }

    .curries-background {
        padding: 50px 0px;
    }
  }